In [2]:
data = [
    [120, 1, 'Soumita M', 'Winning Culture Lab'],
    [280, 13, 'Subhangi 0 Nitin Shane', 'Winning Culture Lab'],
    [75, 1124, 'Merwin', 'Mentor'],
    [295, 16, 'fardinkamal62', 'Human Capital Lab'],
    [263, 17, 'riddhi_213', 'Human Capital Lab'],
    [266, 19, 'Rohit Duttal imshawan', 'Mentor Tech Lab'],
    [71, 20, 'Anuraj_Saini', 'Brand Tech Lab'],
    [3367, 22, 'sharath Ronak 0', 'Student Unicorn Lab Tech Lab'],
    [336, 24, 'Amrit Malviya', 'Brandtech Lab'],
    [271, 25, 'Saurabh', 'Mentor Student Unicorn Lab'],
    [3169, 26, 'darshimalde', 'Student Unicorn Lab'],
    [100, 27, 'Shagun', 'Tech Lab'],
    [3406, 28, 'Ayisha', 'Student Unicorn Lab'],
    [69, 29, 'Palash', 'Growpital'],
    [539, 30, 'raman', 'Growpital'],
    [299, 31, 'Nishant', 'Growpital'],
    [3408, 32, 'Vatsal', 'Kringle'],
    [302, 23, '', ''],
]

# Create a dictionary to store team-wise statements and reasons
team_stats = {}

# Loop through the data and calculate the total statements and reasons for each team
for row in data:
    if row[3] not in team_stats:
        team_stats[row[3]] = {'statements': row[1], 'reasons': row[0]}
    else:
        team_stats[row[3]]['statements'] += row[1]
        team_stats[row[3]]['reasons'] += row[0]

# Calculate the average statements and reasons for each team
for team, stats in team_stats.items():
    stats['avg_statements'] = round(stats['statements'] / len([row for row in data if row[3] == team]), 2)
    stats['avg_reasons'] = round(stats['reasons'] / len([row for row in data if row[3] == team]), 2)

# Sort the teams based on their average statements and reasons
sorted_teams = sorted(team_stats.items(), key=lambda x: (x[1]['avg_statements'], x[1]['avg_reasons']), reverse=True)

# Print the leaderboard
print('Team Rank\n')
print('Thinking Teams Leaderboard\n')
print('Average Statements\tAverage Reasons')
for i, (team, stats) in enumerate(sorted_teams):
    print(f"{i+1}\t{team}\t{stats['avg_statements']}\t\t{stats['avg_reasons']}")

Team Rank

Thinking Teams Leaderboard

Average Statements	Average Reasons
1	Mentor	1124.0		75.0
2	Kringle	32.0		3408.0
3	Growpital	30.0		302.33
4	Student Unicorn Lab	27.0		3287.5
5	Tech Lab	27.0		100.0
6	Mentor Student Unicorn Lab	25.0		271.0
7	Brandtech Lab	24.0		336.0
8		23.0		302.0
9	Student Unicorn Lab Tech Lab	22.0		3367.0
10	Brand Tech Lab	20.0		71.0
11	Mentor Tech Lab	19.0		266.0
12	Human Capital Lab	16.5		279.0
13	Winning Culture Lab	7.0		200.0

In [ ]:
data = [
    [1, "Soumita M", "280", 13, 21],
    [2, "Subhangi O", "75", 13, 16],
    [3, "Nitin Shane", "1124", 12, 11],
    [4, "Merwin fardinkamal62", "295", 13, 12],
    [5, "263", "2", 2, 2],
    [6, "riddhi_213_", "504", 2, 7],
    [7, "Rohit Dutta", "266", 3, 3],
    [8, "imshawan", "71", 9, 9],
    [9, "Anuraj_Saini", "342", 7, 7],
    [10, "sharath", "3367", 8, 8],
    [11, "Ronak O", "302", 16, 19],
    [12, "Amrit Malviya", "336", 2, 4],
    [13, "Saurabh", "271", 6, 8],
    [14, "darshimalde", "3169", 3, 3],
    [15, "Shagun", "100", 2, 2],
    [16, "Ayisha", "3406", 11, 8],
    [17, "Palash", "69", 6, 7],
    [18, "raman", "539", 5, 2],
    [19, "Nishant", "299", 5, 42],
    [20, "Vatsal", "3408", 2, 1],
    [21, "devmenkr", "360", 7, 7]
]
data = []
while True:
    try:
        s_no = int(input())
        name = input()
        uid = int(input())
        total_statements = int(input())
        total_reasons = int(input())
        data.append({
            'S No': s_no,
            'Name': name,
            'UID': uid,
            'No. of Statements': total_statements,
            'No. of Reasons': total_reasons
        })
    except:
        break

# sort data by rank
data.sort(key=lambda x: (x['No. of Reasons'], x['No. of Statements'], -x['UID']), reverse=True)

# output sorted data in desired format
print('Rank\tName\tUID\tNo. of Statements\tNo. of Reasons')
for i, d in enumerate(data):
    print(f"{i+1}\t{d['Name']}\t{d['UID']}\t{d['No. of Statements']}\t{d['No. of Reasons']}")